.social-links-container {
  display: none;

  background: rgba(0, 0, 0, 0.1);
  color: white;
  position: fixed;
  top: 42%;
  left: 0%;
  @media screen and (min-width: 1100px) {
    display: flex;
  }
}

.social-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 5rem;
  height: 3.5rem;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.5);
}
.social-links > a {
  text-decoration: none;
  color: rgba(171, 178, 190, 0.985);
  :hover {
    width: 50px;
    height: 80px;

    color: whitesmoke;
    transition-duration: 300ms;
  }
}
