.contact-container {
  background-image: linear-gradient(
    to bottom,
    #000000,
    #120d10,
    #1b161d,
    #1f1f2a,
    #1f2937
  );
  width: 100%;

  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10%;
  margin: auto;
}

.contact-heading {
  padding-bottom: 2rem;
  font-size: 2.25rem;
  line-height: 2.25rem;
  border-bottom-width: 4px;
  border-color: rgba(128, 128, 128, 0.5);
}

.contact-helper {
  padding: 10px 0 20px 0;
  font-style: italic;
  font-size: larger;
}
.contact-page {
  display: flex;
  gap: 30px;
  @media screen and (max-width: 640px) {
    flex-direction: column;
    width: 100%;
  }
  justify-content: space-around;
  width: 100%;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-btn {
  background-image: linear-gradient(
    to right,
    #04a9cb,
    #009fd9,
    #0093e5,
    #0083ed,
    #2470ec
  );
  width: 33%;
  @media screen and (min-width: 768px) {
    width: 50%;
  }
  color: white;
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.4rem;
}
.contact-input {
  padding: 0.5rem;
  background: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 0.4rem;
}
.left-contactpage,
.right-contactpage {
  width: 50%;
  @media screen and (max-width: 640px) {
    width: 100%;
  }
}
.icon {
  display: grid;
  grid-template-columns: 30px 1fr;
}
.contact-item {
  display: flex;
  gap: 30px;
  text-align: justify;
}
